nav ul {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    list-style: none;
    width: 40%;
}
li a {
    text-decoration: none;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
}

.parent-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1140px;
    margin-top: 10px;

}



span{
    color: #E95A08;

}

@media screen and (max-width:576px) {}
#home-link
#shop-link
#about-us-link {
    display: none;
}
#cart-link

{
    nav{
        justify-content:space-between;
        
    }
}

.sticker
{
    margin-top: 10px;
}
.col-span-1 li a { text text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.icon-list {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.list-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.icon {
    width: 24px; 
    height: 24px; 
    margin-right: 10px; 
}

